.book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey;
    padding: 5px;

    > a {
        padding: 0 15px;
    }

    h2 {
        font-size: 20px;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
    }

    .social {
        a {
            color: $grey;
            padding-right: 15px;
        }
    }
}

@media only screen and ( max-width: 600px) {
    .book-header {
        display: none;
    }
}